<%- include('includes/htmlHeader', {title: 'Create Thread'}); %> 
    </head>
<body>
    
<%- include('includes/loggedInMenu') %>

<div class="ui container">
    <div class="ui form">
    <a href="/threadlist"> < Back to threads</a>
    <h1>Create New Thread</h1>
    <form method="POST" action="/threadlist" enctype="multipart/form-data">
        <div class="field">
            <label>Title</label>
            <input required type="text" name="title" placeholder="Enter title">
        </div>
        <div class="field">
            <label>Image</label>
            <input required type="file" name="image" placeholder="Enter title">
        </div>
        <% if(errors.length > 0) { %>
        <div class="ui visible error message">
            <div class="header">
                There were some error(s) with your submission
            </div>
            <ul class="list">
            <li>
                <% errors.forEach(error => { %>
                    <%=error%>
                <% }) %>
            </li>
            </ul>
        </div>
        <% } %>
        <button style="background-color: #08123C" class="ui primary button" type="submit">Create</button>
    </form>
    </div>
</div>


      
<%- include('includes/htmlFooter'); %>
